# Tuplas

Las tuplas se crean dinamicamente poniendo valores cualesquiera entre parentesis separados por comas

In [1]:
a = (1, 2, 3.4)
a

(1, 2, 3.4)

Tenemos acceso por posicion

In [2]:
a[0]

1

Podemos extraer los elementos con asignacion multiple

In [3]:
b, c, d = a

print b, c, d

1 2 3.4

Acceder a un subconjunto de los elementos de la tupla

In [4]:
a[1:2]

(2,)

Imbricar la tuplas y acceder por indice

In [5]:
a = (1, (2, 3))

print a[1]
print a[1][1]

(2, 3)
3

Las tuplas son objetos inmutables, lo siguiente da error

In [6]:
a[0] = 3

TypeError: 'tuple' object does not support item assignment

Tenemos operaciones interesantes sobre tuplas como pertenencia de elementos (in)

In [ ]:
a = (1, 2, 3, 4 ,5)
1 in a

Concatenacion de tuplas

In [ ]:
b = a + a
b

Posicion de un elemento en la tupla (la primera aparicion)

In [ ]:
b.index(5)

Cuantas veces aparece un elemento en una tupla

In [ ]:
b.count(1)

Tambien son objetos iterables

In [7]:
for i in (1,2,3):
    print i

1
2
3

Para mas operaciones consultar la documentaci√≥n de python